.card {
    width: 20.5em;
    min-height: 25em;
    background-color: #e3e2e2;
    padding: 1em 0;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.367);
    border-radius: 3%;
}

.card-img {
    /* background-color: rgb(71, 72, 124); */
    padding: .9em;
}

.card-img img {
    height: 100%;
    width: 300px;
    /* border: 1px solid rgba(0, 0, 0, 0.398); */
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.367);

}

.card-name {
    /* background-color: rgb(59, 134, 93); */
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.card-temperament {
    /* background-color: rgb(113, 71, 120); */
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: .4em;
}

.card-weight {
    /* background-color: rgb(105, 120, 71); */
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: .4em;
}